<ng-form name="userDetailFormExperience">
	<div class="panel md-inline-form uib-accordion-group-panel-userDetail">
	
		 <div layout="row" style="margin: 10px 10px 10px 10px">
	        	<table class="table table-striped">
				  <thead>
				    <tr>
				      <th>#</th>
				      <th>Firma</th>
				      <th>Başlanğıç</th>
				      <th>Bitiş</th>
				      <th>Pozisyon</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr ng-repeat="item in user.experienceDtos">
				      <th scope="row"></th>
				      <td>{{item.company}}</td>
				      <td>{{item.beginDate | date: 'dd-MM-yyyy'}}</td>
				      <td>{{item.endDate | date: 'dd-MM-yyyy'}}</td>
				      <td>{{item.position}}</td>
				    </tr>
				  </tbody>
				</table>
	        </div>
	</div>
</ng-form>