<div class="generic-container clearfix">
	<form name="registrationForm" autocomplete="off" novalidate>
		<div class="well lead generic-container-panel-heading">Açık Pozisyonlar</div>
	 	<div class="center-block">
	 	   <div class="form-group col-md-12">
				<div class="row">
					<div class="form-group col-md-12">
	                     <div>
	                     	<div id="grid" ui-grid="gridOptions" ui-grid-cellNav ui-grid-edit ui-grid-resize-columns ui-grid-pinning ui-grid-selection ui-grid-move-columns ui-grid-importer ui-grid-exporter ui-grid-grouping class="grid"></div>
	                    </div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<!-- https://plnkr.co/edit/E2eHZeWh7IhBfLKBphok?p=preview -->
