<div class="generic-container clearfix">
	<form name="registrationForm" autocomplete="off" novalidate>
		<div class="well lead generic-container-panel-heading">Başvurular</div>
	 	<div class="center-block">
	 	   <div class="form-group col-md-12">
				<div class="row">
					<div class="form-group col-md-12">
					       <div layout="row" style="margin: 10px 10px 10px 10px">
						      <table class="table table-striped">
								  <thead>
								    <tr>
								      <th>#</th>
								      <th ng-show="false">#</th>
								      <th>Pozisyon Adı</th>
								      <th>Pozisyon Detayı</th>
								      <th>-</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr ng-repeat="item in positionDtos">
								      <th scope="row"></th>
								      <td ng-show="false">{{item.id}}</td>
								      <td>{{item.name}}</td>
								      <td>{{item.detail}}</td> 
								      <td><input  type="button" class="btn btn-success" value="Başvur" ng-click="apply($index,item)"/></td>
								    </tr>
								  </tbody>
								</table>
					       </div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<!-- https://plnkr.co/edit/E2eHZeWh7IhBfLKBphok?p=preview -->
