<div id="footer">
        <div class="navbar navbar-fixed-bottom ikFooter" style="background-image: linear-gradient(to bottom,#fff,#f2f2f2)">
           <div class="navbar-inner">
               <div class="container">
                   <footer>
                       <div class="row">
                           <div class="span4">
                               Created by Oğuz Korkut
                           </div>
                           <div class="span4">
                               Facebook: <a href="https://www.facebook.com/oguzkrkt">@oguzkorkut</a>
                           </div>
                           <div class="span4">
                               Blog: <a href="http://oguzkorkut.com/">oguzkorkut.com</a>
                           </div>
                       </div>
                  </footer>
               </div>
           </div>
       </div>
   </div>