<div class="generic-container clearfix">
	<form name="messageForm" autocomplete="off" novalidate>
		<div class="well lead generic-container-panel-heading">Mesajlar</div>
	 	<div class="center-block">
	 	   <div class="form-group col-md-12">
				<div class="row">
					<div class="form-group col-md-12">
						 <div layout="row" style="margin: 10px 10px 10px 10px">
						      <table class="table table-striped">
								  <thead>
								    <tr>
								      <th>#</th>
								      <th ng-show="false">#</th>
								      <th>Başvuru</th>
								      <th>Sonuç</th>
								      <th>Açıklama</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr ng-repeat="message in messageDtos">
								      <th scope="row"></th>
								      <td ng-show="false">{{message.id}}</td>
								      <td>{{message.application}}</td>
								      <td>{{message.result}}</td> 
								      <td >{{message.comment}}</td> 
								    </tr>
								  </tbody>
								</table>
					       </div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>