<div class="generic-container clearfix">
	<form name="registrationForm" autocomplete="off" novalidate>
		<div class="well lead generic-container-panel-heading">Mesajlar</div>
	 	<div class="center-block">
	 	   <div class="form-group col-md-12">
				<div class="row">
					<div class="form-group col-md-12">
						
						Message
						
					</div>
				</div>
			</div>
			<div class="form-group col-md-12">
			   <div class="col-xs-6"> </div>
			   <div class="col-xs-6">
			   		<input type="button" id="addIletisim" ng-click="save(this);"  value="Kaydet" style="width:80px;float:right;" class="btn btn-success" />
			    </div>
			</div>
		</div>
	</form>
</div>

<!-- https://plnkr.co/edit/E2eHZeWh7IhBfLKBphok?p=preview -->
