<div class="generic-container clearfix">
	<form name="registrationForm" autocomplete="off" novalidate>
		<div class="well lead generic-container-panel-heading">Mesajlar</div>
	 	<div class="center-block">
	 	   <div class="form-group col-md-12">
				<div class="row">
					<div class="form-group col-md-12">
						 <div layout="row" style="margin: 10px 10px 10px 10px">
						      <table class="table table-striped">
								  <thead>
								    <tr>
								      <th>#</th>
								      <th ng-show="false">#</th>
								      <th>Ad</th>
								      <th>Soyad</th>
								      <th>Pozisyon</th>
								      <th>-</th>
								      <th>-</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr ng-repeat="item in messageDtos">
								      <th scope="row"></th>
								      <td ng-show="false">{{item.id}}</td>
								      <td style="padding-top: 40px">{{item.name}}</td>
								      <td style="padding-top: 40px">{{item.lastname}}</td> 
								      <td style="padding-top: 40px">{{item.position}}</td>
								      <td >
									       <md-input-container class="md-block" flex-gt-sm="">
									           	<label>Açıklama</label>
									            <input  type="text" name="userDetailLastname" id="userDetailLastname" ng-model="userDetail.lastname"  maxlength="50" required>
								            </md-input-container>
								      </td> 
								      <td>
								      	  <input  type="button" class="btn btn-success" value="CV" ng-click="userCV($index,item)"/>
								      	  <input  type="button" class="btn btn-success" value="Onay" ng-click="apply($index,item)"/>
								      	  <input  type="button" class="btn btn-danger" value="Red" ng-click="reject($index,item)"/>
								      </td>
								    </tr>
								  </tbody>
								</table>
					       </div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<!-- https://plnkr.co/edit/E2eHZeWh7IhBfLKBphok?p=preview -->
