 <div class="panel">
  <table class="table table-responsive">
		<tr>
			<td>Eğitim Adı</td>
			<td>Eğitim Kurumu</td>
			<td>Başlangıç</td>
			<td>Bitiş</td>
		</tr>
		<tr class="mycontainer" id="mainrowSer">
			<td>
				<input type="text" id="egAdi" class="egAdi form-control"/>
			</td>
			<td>
				<input type="text" id="egKurum" class="okuma form-control" />
			</td>
			<td>
				<input type="text" id="bas" class="yazma form-control" />
			</td>
			<td>
				<input type="text" id="bit" class="konusma form-control" />
			</td>
			<td>
				<input type="button" id="addSer" value="Ekle" style="width:80px;" class="btn btn success" />
			</td>
		</tr>
	</table>
	<table class="table table-responsive" id="SerItems">
		<tbody>
		</tbody>
	</table>
</div>