<ng-form name="registrationFormEducation">
	<div class="panel md-inline-form uib-accordion-group-panel-registration" id="educationInf">
		 	 <div layout="row" >
			 	 <md-input-container class="md-block" flex-gt-sm="80">
		          <label>Eğitim Seviyesi</label>
		          <md-select name="educationLevel" ng-model="education.educationLevel" required>
					<md-option value="0">Lise</md-option>
					<md-option value="1">Lisans</md-option>
					<md-option value="2">Yüksek Lisans</md-option>
					<md-option value="3">Doktora</md-option>	
		          </md-select>
		        </md-input-container>
		        
		         <md-input-container class="md-block" flex-gt-sm="80">
		           <label>Başlangıç</label>
		           <md-datepicker id="educationBeginDate" name="educationBeginDate" ng-model="education.beginDate" required></md-datepicker>
		        </md-input-container>
		        
		         <md-input-container class="md-block" flex-gt-sm="80">
		           <label>Bitiş</label>
		           <md-datepicker id="educationEndDate" name="educationEndDate" ng-model="education.endDate" required></md-datepicker>
		        </md-input-container>
		        
		        <md-input-container class="md-block" flex-gt-sm="40">
		             <label>Diploma Notu</label>
			         <input type="text" name="educationGrade" id="educationGrade" ng-model="education.grade"  maxlength="50" required>
		         </md-input-container>
		         
		         <md-input-container class="md-block" flex-gt-sm="10">
		          <label>Note Sistemi</label>
		          <md-select name="educationGradeSystem" ng-model="education.gradeSystem" required>
					<md-option value="4">4</md-option>
					<md-option value="5">5</md-option>
					<md-option value="10">10</md-option>
					<md-option value="100">100</md-option>	
		          </md-select>
		        </md-input-container>
		        
		        <md-input-container class="md-block" flex-gt-sm="80">
		             <label>Bölüm</label>
			         <input type="text" name="educationBranch" id="educationBranch" ng-model="education.branch"  maxlength="50" required>
		         </md-input-container>
		         
		         <md-input-container class="md-block" flex-gt-sm="80">
		             <label>Okul</label>
			         <input type="text" name="educationSchoolName" id="educationSchoolName" ng-model="education.schoolName"  maxlength="50" required>
		         </md-input-container>
		         
		         <div layout="column"> 
		        	<md-button class="add-tab md-primary md-raised" ng-click="saveEducation()"  style="margin-right: 0;">Ekle</md-button>
		        </div>
	        </div>
	</div>
</ng-form>