<ng-form name="registrationFormExperience">
	<div class="panel md-inline-form uib-accordion-group-panel-registration">
	
		<div layout="row" >
			<md-input-container class="md-block" flex-gt-sm="">
		       <label>Firma</label>
		       <input type="text" name="experienceCompany" id="experienceCompany" ng-model="experience.company"  maxlength="50" required>
		    </md-input-container>
		      
		     <md-input-container class="md-block" flex-gt-sm="">
	           <label>Başlangıç</label>
	           <md-datepicker id="experienceBeginDate" name="experienceBeginDate" ng-model="experience.beginDate" required></md-datepicker>
	        </md-input-container>
		      
		     <md-input-container class="md-block" flex-gt-sm="">
	           <label>Bitiş</label>
	           <md-datepicker id="experienceEndDate" name="experienceEndDate" ng-model="experience.endDate" required></md-datepicker>
	        </md-input-container>
		       
		   <md-input-container class="md-block" flex-gt-sm="">
	          <label>Pozisyon</label>
	      	  <input type="text" name="experiencePosition" id="experiencePosition" ng-model="experience.position"  maxlength="50" required>
	       </md-input-container>
		      
	       <div layout="column">
	     		<md-button class="add-tab md-primary md-raised" ng-click="saveExperience()" style="margin-right: 0;">Ekle</md-button>
	   	   </div>
		 </div>
		 
		 <div layout="row" style="margin: 10px 10px 10px 10px">
	        	<table class="table table-striped">
				  <thead>
				    <tr>
				      <th>#</th>
				      <th>Firma</th>
				      <th>Başlangıç</th>
				      <th>Bitiş</th>
				      <th>Pozisyon</th>
				      <th>-</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr ng-repeat="item in user.experienceDtos">
				      <th scope="row"></th>
				      <td>{{item.company}}</td>
				      <td>{{item.beginDate | date: 'dd-MM-yyyy'}}</td>
				      <td>{{item.endDate | date: 'dd-MM-yyyy'}}</td>
				      <td>{{item.position}}</td>
				      <td><input  type="button" class="btn btn-danger" value="Sil" ng-click="removeExperience($index,item)"/></td>
				    </tr>
				  </tbody>
				</table>
	        </div>
	</div>
</ng-form>