<div class="panel">
  <table class="table table-responsive">
		<tr>
			<td>Firma</td>
			<td>Başlangıç</td>
			<td>Bitiş</td>
			<td>Pozisyon</td>
		</tr>
		<tr class="mycontainer" id="mainrowIs">
			<td>
				<input type="text" id="firma" class="firma form-control"/>
			</td>
			<td>
				<input type="text" id="bas" class="bas form-control" />
			</td>
			<td>
				<input type="text" id="bit" class="bit form-control" />
			</td>
			<td>
				<input type="text" id="poz" class="poz form-control" />
			</td>
			<td>
				<input type="button" id="addIs" value="Ekle" style="width:80px;" class="btn btn success" />
			</td>
		</tr>
	</table>
	<table class="table table-responsive" id="IsItems">
		<tbody>
		</tbody>
	</table>
</div>