<div class="panel" id="languageInf">
  <table class="table table-responsive">
		<tr>
			<td>Yabancı Dil</td>
			<td>Okuma</td>
			<td>Yazma</td>
			<td>Konuşma</td>
		</tr>
		<tr class="mycontainer" id="mainrowLang">
			<td>
				<input type="text" id="lang" class="lang form-control"/>
			</td>
			<td>
				<input type="text" id="okuma" class="okuma form-control" />
			</td>
			<td>
				<input type="text" id="yazma" class="yazma form-control" />
			</td>
			<td>
				<input type="text" id="konusma" class="konusma form-control" />
			</td>
			<td>
				<input type="button" id="addLang" value="Ekle" style="width:80px;" class="btn btn success" />
			</td>
		</tr>
	</table>
	<table class="table table-responsive" id="langItems">
		<tbody>
		</tbody>
	</table>
</div>