<ng-form name="registrationFormLanguage">
	<div class="panel md-inline-form uib-accordion-group-panel-registration" id="languageInf">
	
		<div layout="row" >
			<md-input-container class="md-block" flex-gt-sm="">
		       <label>Yabancı Dil</label>
		       <input type="text" name="languageName" id="languageName" ng-model="language.language"  maxlength="50" required>
		    </md-input-container>
		      
		    <md-input-container class="md-block" flex-gt-sm="">
		        <label>Okuma</label>
		        <md-select name="languageReading" ng-model="language.reading" required="">
					<md-option value="0">Başlangıç</md-option>
					<md-option value="1">Orta</md-option>
					<md-option value="2">İyi</md-option>
		        </md-select>
		    </md-input-container>
		      
		    <md-input-container class="md-block" flex-gt-sm="">
		        <label>Yazma</label>
		        <md-select name="languageWriting"  ng-model="language.writing" required="">
					<md-option value="0">Başlangıç</md-option>
					<md-option value="1">Orta</md-option>
					<md-option value="2">İyi</md-option>
		        </md-select>
		    </md-input-container> 
		       
		      <md-input-container class="md-block" flex-gt-sm="">
		        <label>Konuşma</label>
		        <md-select name="languageSpeaking" ng-model="language.speaking" required="">
					<md-option value="0">Başlangıç</md-option>
					<md-option value="1">Orta</md-option>
					<md-option value="2">İyi</md-option>
		        </md-select>
		      </md-input-container>
		       
		      
		      <div layout="column">
		     		<md-button class="add-tab md-primary md-raised" ng-click="saveLanguage()" style="margin-right: 0;">Ekle</md-button>
		   	  </div>
		 </div>
	</div>
</ng-form>