 <ng-form name="registrationFormPersonal">
	 <div class="panel md-inline-form uib-accordion-group-panel-registration" id="personalInf">
	 
		<md-content layout-padding="">
			<div>
				<div layout-gt-sm="row">
		          <md-input-container class="md-block" flex-gt-sm="">
		             <label>Ad</label>
			         <input type="text" name="personalName" id="personalName" ng-model="user.name"  maxlength="50" required>
		          </md-input-container>
		
		          <md-input-container class="md-block" flex-gt-sm="">
		           <label>Soyad</label>
		            <input  type="text" name="registrationSurname" id="registrationSurname" ng-model="user.surname"  maxlength="50" required>
		          </md-input-container>
		        </div>
		        
		        <div layout-gt-sm="row">
		          <md-input-container class="md-block" flex-gt-sm="">
		            <label>T.C. Kimlik Numarası</label>
			 		<input  name="registrationTCNo" ng-model="user.profileDto.tcNo" md-maxlength="11"   md-minlength="11" ng-pattern="/^[0-9]{11}$/" maxlength="11" required>
			            <div ng-messages="registrationForm.registrationFormPersonal.registrationTCNo.$error" role="alert" multiple="">
			              <div ng-message="required">T.C. kimlik numaranızı giriniz.</div>
			              <!-- <div ng-message="pattern" class="my-message">Girilen değer formata uygun değil.
			              </div> -->
			              <div ng-message="maxlength">
			                T.C. kimlik numarası 11 karakter olmalıdır.
			              </div>
			              <div ng-message="minlength">
			                T.C. kimlik numarası minimum 11 karakter olmalıdır.
			              </div>
			              <div ng-message="pattern">
			                T.C. kimlik numarası formata uygun değildir.
			              </div>
			            </div>
		          </md-input-container>
		
		          <md-input-container class="md-block" flex-gt-sm="">
		            <label>Cinsiyet</label>
		            <md-select ng-model="user.profileDto.gender" required>
		              <md-option value="0">Erkek</md-option>
		              <md-option value="1">Kadın</md-option>
		            </md-select>
		          </md-input-container>
		
		          <md-input-container class="md-block" flex-gt-sm="">
		           <label>Doğum Tarihi</label>
		           <md-datepicker id="registrationBirthDate" name="registrationBirthDate" ng-model="user.birthDate"  required></md-datepicker>
		          </md-input-container>
		        </div>
		        
		        <div layout-gt-sm="row">
		          <md-input-container class="md-block" flex-gt-sm="">
		             <label>E-Posta</label>
			         <input type="email" name="registrationEmail" id="registrationEmial" ng-model="user.email"  maxlength="50" autocomplete="off" required>
		          </md-input-container>
		
		          <md-input-container class="md-block" flex-gt-sm="">
		           <label>Şifre</label>
		            <input  type="password" name="registrationPassword" id="registrationPassword" ng-model="user.password"  maxlength="50"  required>
		          </md-input-container>
		        </div>
			</div>
		</md-content>
		
	
	<!-- <input type="button" id="addKÄ°si" value="Ekle" style="width:80px;float:right" class="btn btn success" /> -->
	</div>
	 
 </ng-form>
 