<div class="panel" id="personalInf"><br/>
	<div class="row">				
		<div class="form-group col-md-6">
			<div class="col-md-8">
				<input name="name" id="name" ng-model="name" class="form-control name" placeholder="Ad" maxlength="50" ng-maxlength="50" required/>
			    <div class="help-block" ng-messages="registrationForm.name.$error" ng-if="registrationForm.name.$touched">
					<p ng-message="maxlength">Maksimum 50 karakter girilebillir.</p>
					<p ng-message="required">Adınızı giriniz.</p>
				</div>
			</div>
		</div>							
		
		<div class="form-group col-md-6">
			<div class="col-md-8">
				<input name="tcNo" id="tcNo" ng-model="tcNo" class="form-control tcNo" placeholder="Tc No" maxlength="11" ng-minlength="11"  ng-maxlength="11" required/>
				
				 <div class="help-block" ng-messages="registrationForm.name.$error" ng-if="registrationForm.name.$touched">
				 	<p ng-message="minlength">T.C. kimlik numarası minimum 11 karakter olmalıdır.</p>
					<p ng-message="maxlength">T.C. kimlik numarası maksimum 11 karakter olmalıdır.</p>
					<p ng-message="required">T.C. kimlik numarası alanı zorunlu alandır.</p>
				</div>
			</div>
		</div>	
		
		<div class="form-group col-md-6">
			<div class="col-md-8">
				<input name="surname" id="surname" ng-model="surname" class="form-control" placeholder="Soyad" maxlength="50" required/>
				<div class="help-block" ng-messages="registrationForm.surname.$error" ng-if="registrationForm.surname.$touched">
				 	<p ng-message="minlength">T.C. kimlik numarası minimum 11 karakter olmalıdır.</p>
					<p ng-message="maxlength">Soyad alanı maksimum 50 karakter olabilir.</p>
					<p ng-message="required">Soyadınızı giriniz.</p>
				</div>
			</div>
		</div>		

		<div class="form-group col-md-6">
			<div class="col-md-8">		
				<input name="dogumYeri" id="dogumYeri" value="" class="form-control" placeholder="dogumYeri" required/>
			    <p ng-show="registrationForm.surname.$error.required">Soyadınızı giriniz.</p>
			</div>
		</div>				
		
	</div>
	
	<div class="row">
		
		<div class="form-group col-md-6">
			<div class="col-md-8">	
				<input name="askerlik" id="askerlik" value="" class="form-control" placeholder="Askerlik Durumu" />	
			</div>
		</div>
						
		<div class="form-group col-md-6">
			<div class="col-md-8">	
				<input type="date" name="dogumTarihi" id="dogumTarihi" value="" class="form-control" placeholder="Doğum Tarihi" />
			</div>
		</div>				
		
		<div class="form-group col-md-6">
			<div class="col-md-8">
				<label>Cinsiyet:<label>
				<label class="radio-inline"><input type="radio" name="optradio">Erkek</label>
				<label class="radio-inline"><input type="radio" name="optradio">Kadın</label><br/>				
			</div>
		</div>					
		
		<div class="form-group col-md-6">
			<div class="col-md-8">
				<label>Ehliyet:<label>
				<label class="radio-inline"><input type="radio" name="optradio">Var</label>
				<label class="radio-inline"><input type="radio" name="optradio">Yok</label><br/>				
			</div>
		</div>	
		
	</div>
	<!-- <input type="button" id="addKİsi" value="Ekle" style="width:80px;float:right" class="btn btn success" /> -->
</div>