<div class="panel md-inline-form" id="personalInf"><br/>
	<md-content layout-padding="">
		<div>
		
			<div layout-gt-sm="row">
	          <md-input-container class="md-block" flex-gt-sm="">
	             <label>Ad</label>
		         <input type="text" name="name" id="name" ng-model="user.name"  maxlength="50" required>
	          </md-input-container>
	
	          <md-input-container class="md-block" flex-gt-sm="">
	           <label>Soyad</label>
	            <input  type="text" name="surname" id="surname" ng-model="user.surname"  maxlength="50" required>
	          </md-input-container>
	        </div>
	        
	        <div layout-gt-sm="row">
	          <md-input-container class="md-block" flex-gt-sm="">
	            <label>T.C. Kimlik Numarası</label>
	            <input type="number" name="tcNo" ng-model="user.profileDto.tcNo"  required=""  ng-pattern="/^[0-9]{11}$/"  md-maxlength="11" md-minlength="11">
		
		            <div ng-messages="userForm.tcNo.$error" role="alert" multiple="">
		              <div ng-message="required" class="my-message">T.C. kimlik numaranızı giriniz.</div>
		              <!-- <div ng-message="pattern" class="my-message">Girilen değer formata uygun değil.
		              </div> -->
		              <div ng-message="md-maxlength" class="my-message">
		                ...
		              </div>
		              <div ng-message="md-minlength" class="my-message">
		                T.C. kimlik numarası minimum 11 karakter olmalıdır.
		              </div>
		            </div>
	          </md-input-container>
	
	          <md-input-container class="md-block" flex-gt-sm="">
	            <label>Cinsiyet</label>
	            <md-select ng-model="user.profileDto.gender">
	              <md-option ng-repeat="gender in genderList" value="{{gender.value}}">
	                {{gender.value}}
	              </md-option>
	            </md-select>
	          </md-input-container>
	
	          <md-input-container class="md-block" flex-gt-sm="">
	           <label>Doğum Tarihi</label>
	           <md-datepicker id="birthDate" name="birthDate" ng-model="user.birthDate" required></md-datepicker>
	          </md-input-container>
	        </div>
	        
	        <div layout-gt-sm="row">
	          <md-input-container class="md-block" flex-gt-sm="">
	             <label>E-Posta</label>
		         <input type="email" name="email" id="emial" ng-model="user.email"  maxlength="50" required>
	          </md-input-container>
	
	          <md-input-container class="md-block" flex-gt-sm="">
	           <label>Şifre</label>
	            <input  type="password" name="password" id="password" ng-model="user.password"  maxlength="50" required>
	          </md-input-container>
	        </div>
		</div>
	</md-content>

	<!-- <input type="button" id="addKÄ°si" value="Ekle" style="width:80px;float:right" class="btn btn success" /> -->
</div>