<div class="panel">
	<table class="table table-responsive">
		<tr>
			<td>Referans Adı</td>
			<td>Referans Soyadı</td>
			<td>Pozisyon</td>
			<td>Telefon</td>
			<td>Email</td>
		</tr>
		<tr class="mycontainer" id="mainrowRef">
			<td>
				<input type="text" id="refAdi" class="refAdi form-control"/>
			</td>
			<td>
				<input type="text" id="refSoyad" class="refSoyad form-control" />
			</td>
			<td>
				<input type="text" id="poz" class="poz form-control" />
			</td>
			<td>
				<input type="text" id="tel" class="tel form-control" />
			</td>
			<td>
				<input type="text" id="email" class="email form-control" />
			</td>
			<td>
				<input type="button" id="addRef" value="Ekle" style="width:80px;" class="btn btn success" />
			</td>
		</tr>
	</table>
	<table class="table table-responsive" id="RefItems">
		<tbody>
		</tbody>
	</table>
</div>