<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
 
       <!-- http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd -->
    <!-- to activate annotations in beans already registered in the application
        context -->
    <context:annotation-config />
 
    <!-- scans packages to find and register beans within the application context -->
    <context:component-scan base-package="com.okorkut.ik" />
    <context:component-scan base-package="com.okorkut.ik.common.dao.BaseDao" />
 
    <!-- turn on spring transaction annotation -->
    <tx:annotation-driven transaction-manager="transactionManager" />
    
    <bean
       class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
 
    <bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
      <!-- dataSource configuration -->
    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${db.driverClassName}" />
        <property name="url" value="${db.url}" />
        <property name="username" value="${db.username}" />
        <property name="password" value="${db.password}" />
    </bean>
    
    
    <!-- Transaction Manager -->
   <!--  <bean id="transactionManager2"
        class="org.springframework.orm.hibernate4.HibernateTransactionManager">
       <property name="sessionFactory" ref="sessionFactory" />
    </bean> -->
    
   <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
      <property name="entityManagerFactory" ref="entityManagerFactory" />
   </bean> 
    
    
    <!-- JPA EntityManagerFactory -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
       <property name="persistenceUnitName" value="IKAppCommon" />
      <property name="dataSource" ref="dataSource" />
      <property name="packagesToScan" value="com.okorkut.ik.common.entity" />
      <property name="jpaVendorAdapter">
         <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
      </property>
      <property name="jpaProperties">
         <props>
         	<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				 <!-- <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop> -->
             	 <!-- <prop key="hibernate.cache.use_query_cache" >true</prop> -->
	             <prop key="hibernate.jdbc.wrap_result_sets" >true</prop>
	             <!-- <prop key="hibernate.cache.use_minimal_puts" >true</prop> -->
            	 <!-- <prop key="hibernate.cache.use_second_level_cache">true</prop>
             	 <prop key="hibernate.cache.use_structured_entries">true</prop> -->
             	 <prop key="hibernate.generate_statistics" >true</prop>
            	 <prop key="hibernate.show_sql">true</prop>
				 <prop key="hibernate.default_schema">${db.schema}</prop>
				 <!-- <prop key="hbm2ddl.auto">create"</prop> -->
				 <prop key="hibernate.hbm2ddl.auto">update</prop>
				 <!-- <prop key="hibernate.hbm2ddl.auto">update</prop> -->
                 <!-- <prop key="hibernate.hbm2ddl.auto">create</prop> -->
            
         </props>
      </property>
   </bean>
   
   <!-- create: create database tables and indexes at startup
   create-drop: create database tables and indexes at startup and drop at shutdown
   update: when the application starts, check the database schema and update as needed adding missing tables and columns
   validate: when the application starts, check the database schema and fails if there is some missing table or column. -->
    
 
    <!-- Session Factory -->
   <!--  <bean id="sessionFactory"
        class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>
                <value>com.okorkut.ik.common.entity.Application</value>
				<value>com.okorkut.ik.common.entity.Education</value>
				<value>com.okorkut.ik.common.entity.Experience</value>
				<value>com.okorkut.ik.common.entity.Language</value>
				<value>com.okorkut.ik.common.entity.Position</value>
				<value>com.okorkut.ik.common.entity.Profile</value>
				<value>com.okorkut.ik.common.entity.Reference</value>
				<value>com.okorkut.ik.common.entity.Role</value>
				<value>com.okorkut.ik.common.entity.RoleGroup</value>
				<value>com.okorkut.ik.common.entity.User</value>
				<value>com.okorkut.ik.common.entity.History</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.jdbc.wrap_result_sets" >true</prop>
             	<prop key="hibernate.generate_statistics" >true</prop>
            	<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.default_schema">${db.schema}</prop>
				
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				
            </props>
        </property>
    </bean> -->
    <!-- <prop key="hbm2ddl.auto">create"</prop> -->
    <!-- <prop key="hibernate.hbm2ddl.auto">update</prop> -->
                <!-- <prop key="hibernate.hbm2ddl.auto">create</prop> -->
    
    <bean id="daoFactory" class="com.okorkut.ik.common.dao.BaseDao"
		abstract="true">
		<constructor-arg ref="transactionInterceptor" />
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	
	<bean id="baseDao" class="com.okorkut.ik.common.dao.BaseDao" >
		<!-- <property name="entityManagerFactory" ref="entityManagerFactory" /> -->
	</bean>
    
    <bean id="userDao" class="com.okorkut.ik.common.dao.UserDaoImpl" autowire="byName" parent="baseDao">
		<!-- <property name="sessionFactory" ref="sessionFactory" /> -->
	</bean>
	
	<bean id="roleDao" class="com.okorkut.ik.common.dao.RoleDaoImpl" autowire="byName" parent="baseDao">
	</bean>
	
	<bean id="certificateDao" class="com.okorkut.ik.common.dao.CertificateDaoImpl" autowire="byName" parent="baseDao">
	</bean>
	<bean id="educationDao" class="com.okorkut.ik.common.dao.EducationDaoImpl" autowire="byName" parent="baseDao">
	</bean>
	<bean id="experienceDao" class="com.okorkut.ik.common.dao.ExperienceDaoImpl" autowire="byName" parent="baseDao">
	</bean>
	<bean id="languageDao" class="com.okorkut.ik.common.dao.LanguageDaoImpl" autowire="byName" parent="baseDao">
	</bean>
	<bean id="referenceDao" class="com.okorkut.ik.common.dao.ReferenceDaoImpl" autowire="byName" parent="baseDao">
	</bean>
	<bean id="positionDao" class="com.okorkut.ik.common.dao.PositionDaoImpl" autowire="byName" parent="baseDao">
	</bean>
	<bean id="applicationDao" class="com.okorkut.ik.common.dao.ApplicationDaoImpl" autowire="byName" parent="baseDao">
	</bean>
	<bean id="historyDao" class="com.okorkut.ik.common.dao.HistoryDaoImpl" autowire="byName" parent="baseDao">
	</bean>
	
	
</beans>